////////////////////////
//
// Color variables.
//
////////////////////////

$grey-shade-1: #4c4c4e;
$grey-shade-2: #4d4d4f;
$grey-shade-3: #464648;
$grey-shade-4: #efefef;
$grey-shade-5: #595959;
$grey-shade-6: #666666;

$orange-peel: #ff9800;
$orange-roughy: #dd4819;
$orange-light: #f2892e;
$saffron: #f4c432;
$flamingo: #ec5a14;
$rust: #db4926;
$bamboo: #dd6600;
$orange-blaze: #ff6600;
