#superfish-1 {
  @media (min-width: 1200px) {
    margin-left:240px;
  }
  // top level
  > li {
    margin-right:10px;
    padding-right:10px;
  }
  ul {
    a, span.nolink {
      //text-transform: capitalize;
    }
  }
  li#menu-641-1 ul  {
    width:210px!important;
  }
  li#menu-608-1 ul {
    width:235px!important;
  }
  li#menu-524-1 ul {
    width:300px!important;
  }
  li#menu-594-1 ul {
    width:335px!important;
  }
}