.page-taxonomy-term-careers {
  .pane-page-breadcrumb {
    margin-bottom: 14px;
  }
  .pane-custom  {
    .pane-content p {
      margin: 0;
      line-height: 20px;
    }
    &.pane-2 {
      margin-top: 35px;
    }
  }
  .pane-view-all-careers {
    max-width: 903px;
    padding-right: 20px;
  }
}
