.page-html-press-releasesshtml {
  .pane-page-breadcrumb {
    margin-bottom: 15px;
  }
  .panels-amber-content-layout {
    padding-bottom: 50px;
  }
  .panels-generic-content-main-inside.has-sidebar {
    @include breakpoint($tab) {
      margin-right: 0;
      width: 73.576%;
    }
  }
  .panels-generic-content-sidebar-inside {
    text-align: center;
    @include breakpoint($tab) {
      margin-top: 5.7%;
      margin-right: 2.2%;
    }
    @include breakpoint($tab-wide) {
      margin-top: 108px;
    }
  }
  .view-press-release {
    .views-row {
      line-height: 20px;
      margin-bottom: 30px;
      @include clearfix;
    }
    .views-field {
      float: left;
    }
    .views-field-field-press-release-date {
      width: 24%;
    }
    .views-field-title {
      vertical-align: top;
      width: 76%;
      padding-right: 20px;
    }
  }
}
