.node-type-page, .node-type-solution-area {
  .panels-generic-content-main-inside {
    padding-left: 15px;
    padding-right: 9px;
    margin-bottom: 40px;
    @include breakpoint($tab-wide) {
      padding-left: 37px;
    }
    &.has-sidebar {
      @include breakpoint(max-width $mobile-max) {
        margin-bottom: 0;
      }
      .pane-node-body {
        table {
          max-width: 690px;
        }
        td img {
          max-width: 690px;
        }
      }
    }
    a:visited {
      color: $flamingo;
    }
    &.no-sidebar {
      float: left;
      max-width: 954px;
      @include breakpoint($tab) {
        padding-right: 20px;
      }
      .related_blogs_wrapper {
        @include layout-at(12, $tab) {
          @include grid-span(9,1);
        }
      }
      .pane-node-body {
        table {
          max-width: 900px;
        }
        td img {
          max-width: 897px;
        }
      }
    }
    .pane-node-body {
      p, span, td {
        font-size: convert(11, pts, px);
        line-height: 150%;
      }
      p {
        margin-top: 14px;
        margin-bottom: 14px;
        color: black;
      }
      li {
        list-style-image: url("../images/bullet-black.png");
      }
      table {
        border-color: #c0c0c0;
        width: 100% !important;
        border-collapse: separate;
        td {
          border-color: #c0c0c0;
          padding: 0 8px;
          color: black;
        }
        thead {
          background-color: #ed8b21;
        }
        th {
          border-width: 1px;
          border-color: #c0c0c0;
          color: white;
          font-weight: 700;
          padding-left: 8px;
          padding-top: 2px;
          padding-bottom: 2px;
        }
        td img {
          @include breakpoint(max-width 979px) {
            width: 100% !important;
          }
        }
      }
      iframe {
        @include breakpoint(max-width $mobile-max) {
          height: auto;
        }
        width: 100%;
        max-width: 564px;
      }
      .linkc span {
        color: $flamingo;
      }
      .field-item > table > tbody > tr > td {
        padding-left: 0 !important;
      }
      .emptyTag {
        display: none;
      }
    }
  }
  .content2 {
    font-size: convert(10, pts, px);
    line-height: 150%;
  }
  .panels-generic-content-sidebar-inside .rhs_ad_blocks {
    padding-top: 20px;
    text-align: center;
    @include breakpoint($tab) {
      padding-top: 30px;
      text-align: left;
      padding-right: 5px;
    }
    .field-collection-container {
      border-bottom: medium none;
    }
    .field-collection-view {
      border-bottom: medium none;
      margin: 0;
      padding: 0;
      .content .field-label {
        display: none;
      }
    }
  }
}
